/*
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⢸⣿⣿⣿⡀⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠋⡀⡀⢸⣿⣿⣿⡀⡀⡀⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠋⡀⡀⡀⡀⢸⣿⣿⣿⡀⡀⡀⡀⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⡀⡀⡀⡀⡀⡀⢸⣿⣿⣿⡀⡀⡀⡀⡀⡀⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⡀⡀⡀⡀⡀⡀⡀⢸⣿⣿⣿⡀⡀⡀⡀⡀⡀⡀⡀⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⡀⡀⡀⡀⢀⡆⡀⡀⡀⢸⣿⣿⣿⡀⡀⡀⡀⣆⡀⡀⡀⡀⡀⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠋⡀⡀⡀⡀⡀⣴⣿⡇⡀⡀⡀⢸⣿⠈⠛⡀⡀⡀⡀⣿⣿⣄⡀⡀⡀⡀⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠟⡀⡀⡀⡀⡀⣠⣿⣿⣿⡇⡀⡀⡀⢸⣿⡀⡀⡀⡀⡀⡀⣿⣿⣿⣷⡀⡀⡀⡀⡀⠙⢿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⠟⠁⡀⡀⡀⡀⣠⣾⣿⣿⣿⣿⡇⡀⡀⡀⢸⣿⡀⡀⡀⡀⡀⡀⣿⣿⣿⣿⣿⣦⡀⡀⡀⡀⡀⠙⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⡿⠁⡀⡀⡀⡀⢀⣾⣿⣿⣿⣿⣿⣿⡇⡀⡀⡀⢸⣿⣷⡀⡀⡀⡀⡀⣿⣿⣿⣿⣿⣿⣿⣤⡀⡀⡀⡀⡀⠻⣿⣿⣿⣿
⣿⣿⣿⠋⡀⡀⡀⡀⡀⣴⣿⣿⣿⣿⣿⣿⣿⣿⡇⡀⡀⡀⡀⠙⣿⣿⣦⡀⡀⡀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣄⡀⡀⡀⡀⠈⢿⣿⣿
⣿⠟⡀⡀⡀⡀⡀⣠⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣄⡀⡀⡀⡀⡀⠻⣿⣿⣄⡀⣿⣿⣿⣿⠻⣿⣿⣿⣿⣿⣷⡀⡀⡀⡀⡀⠈⢿
⣿⣄⡀⡀⡀⡀⡀⠻⣿⣿⣿⣿⠋⡀⣿⣿⣿⣿⡿⣿⣿⣄⡀⡀⡀⡀⠈⠻⣿⣷⣿⣿⣿⣿⡀⠈⢿⣿⣿⣿⡿⠉⡀⡀⡀⡀⢀⣾
⣿⣿⣷⡀⡀⡀⡀⡀⠈⢿⠟⡀⡀⡀⣿⣿⣿⣿⡇⠈⢿⣿⣷⡀⡀⡀⡀⡀⠈⢿⣿⣿⣿⣿⡀⡀⡀⠙⣿⠋⡀⡀⡀⡀⡀⣴⣿⣿
⣿⣿⣿⣿⣷⡀⡀⡀⡀⡀⡀⡀⡀⡀⣿⣿⣿⣿⡇⡀⡀⠙⣿⣿⣦⡀⡀⡀⡀⡀⣿⣿⣿⣿⡀⡀⡀⡀⡀⡀⡀⡀⡀⣴⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣦⡀⡀⡀⡀⡀⢀⣾⣿⣿⣿⣿⡇⡀⡀⡀⡀⠻⣿⣿⡀⡀⡀⡀⣿⣿⣿⣿⣿⣄⡀⡀⡀⡀⡀⣠⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣄⡀⢀⣴⣿⣿⣿⣿⣿⣿⡇⡀⡀⡀⡀⡀⣿⣿⡀⡀⡀⡀⣿⣿⣿⣿⣿⣿⣿⣄⡀⢀⣾⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⡇⡀⡀⡀⡀⡀⣿⣿⡀⡀⡀⡀⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⡀⡀⡀⢠⡀⣿⣿⡀⡀⡀⡀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⡀⡀⡀⢸⣿⣿⣿⡀⡀⡀⡀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⡀⡀⡀⢸⣿⣿⣿⡀⡀⡀⡀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⡀⡀⡀⢸⣿⣿⣿⡀⡀⡀⡀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡀⡀⡀⢸⣿⣿⣿⡀⡀⡀⣤⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡀⢸⣿⣿⣿⡀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
*/
:root {
  --primary-color: #F06BBC;
  --secondary-color: #EEF3D3;
  --tertiary-color: #FFD51F;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(bg.jpg);
  background-size: cover;
  overflow: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Ajoutez ces règles pour rendre les images responsive */
img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Simpsonfont';
  src: url('Simpsonfont.otf') format('woff');
}

.police {
  font-family: 'Simpsonfont', sans-serif;
  color: var(--primary-color);
  font-size: 50px;
  text-shadow: -3px 3px 0 var(--secondary-color),
    3px 3px 0 var(--secondary-color),
    3px -3px 0 var(--secondary-color),
    -3px -3px 0 var(--secondary-color);
}

.plateau {
  display: grid;
  grid-template-columns: repeat(3, 15vh);
}

.case {
  width: 15vh;
  height: 15vh;
  border: 5px solid var(--secondary-color);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.case:hover {
  width: 15vh;
  height: 15vh;
  transition: 0.5s;
  border: 5px solid var(--secondary-color);
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.bouton {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 0;
}

.bouton:hover {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  transition: 0.5s;
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 0;
}

.imagecentre {
  display: block;
  margin: auto;
  width: 85%;
  height: 85%;
  border-radius: 15px;
}

label {
  font-size: 18px;
  color: var(--secondary-color);
  margin-right: 10px;
}

#mode {
  font-size: 16px;
  padding: 8px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.mode-de-jeu {
  font-family: 'Simpsonfont', sans-serif;
  color: var(--primary-color);
  font-size: 30px;
  text-shadow: -1px 1px 0 var(--secondary-color),
    1px 1px 0 var(--secondary-color),
    1px -1px 0 var(--secondary-color),
    -1px -1px 0 var(--secondary-color);
}

.resultat-container img {
  width: 70%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  /* Styles pour les écrans de petite taille */
  body {
    background-size: contain;
  }

  .plateau {
    grid-template-columns: repeat(3, 30vw);
  }

  .case {
    width: 30vw;
    height: 30vw;
    font-size: 16px;
  }

  .police {
    font-size: 30px;
  }

  .mode-de-jeu {
    font-size: 18px;
  }

  #mode {
    font-size: 14px;
    padding: 6px;
  }

  .mode-de-jeu {
    font-size: 20px;
  }

  .resultat-container img {
    width: 70%;
    height: auto;
  }
}
